.caption {
	grid-row: 2/3;
	font-size: 1rem;
	transition: font-size 0.2s;
}

@media screen and (min-width: 480px) {
	.caption {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 768px) {
	.caption {
		font-size: 1.5rem;
	}
}
