.movie-wrapper {
	display: grid;
	place-items: start center;
	background-color: var(--clr-theme);
	box-shadow: 0 0 1em 0.1em var(--clr-grey);
}

.movie-poster {
	width: 100%;
	position: relative;
}

.movie-tagline {
	position: absolute;
	font-size: 1.2rem;
	line-height: 2.3rem;
	width: 100%;
	height: 0;
	bottom: 0;
	background-color: var(--clr-dark);
	padding: 0 0.2rem;
	transition: height 0.3s;
	text-align: center;
	overflow: hidden;
}

.movie-tagline p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.movie-poster:hover .movie-tagline {
	opacity: 0.9;
	height: 100%;
}

.movie-title {
	color: var(--clr-text);
	margin: 0;
	padding: 1em;
	font-size: 1.3rem;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
