:root {
	--clr-dark: #242424;
	--clr-grey: #464646;
	--clr-light: #ffffffde;
	--clr-theme: #138baf;

	--clr-text: var(--clr-light);
	--clr-bg: var(--clr-dark);
	--clr-shadow: var(--clr-grey);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: dark light;

	color: var(--clr-text);
	background-color: var(--bg);
}

@media (prefers-color-scheme: light) {
	:root {
		--clr-text: var(--clr-dark);
		--clr-bg: var(--clr-light);
	}
}

#root {
	min-height: 100vh;
}
